{% load staticfiles %}
<!doctype html>
<html class="moonstick no-js laterooms home">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="language" http-equiv="Content-Language" content="en" />
    <script>
        window.BOOMR = undefined;
    </script>
    <script src="{% static 'js/1.js' %}"></script>
    <script src="{% static 'js/2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/1.css' %}">
    <link rel="stylesheet" href="{% static 'js/2.css' %}">

    <script src="{% static 'js/3.js' %}"></script>
</head>

<body data-pagetype="home">
    
 <section class="above-fold">

        <nav class="main-nav">
    <ul class="main-nav__desktop">
            <li><i class="icon-phone"></i><a     ><font color="red">+918057683190</font></a></li>
            <li><a href="/" title="Home"   data-track="about_us"><b>Home</b></a></li>
            <li> <a  href="/Developers/" ><b>Developers</b></a></li>
            <li><a href="/admin/"><b>Admin Login</b></a></li>
    </ul>
</nav>
        <div class="container home-page">
<style>
    @media (min-width: 768px) {
        .above-fold {
            background-image: url({% static 'img/party.jpg' %});
            transition: background-image 0.5s ease-in;
        }

        .above-fold--loaded {
            background-image: url({% static 'img/hparty.jpg' %});
            transition: background-image 0.5s ease-in;
        }
    }
</style>

<div id="bg-fullsize" data-src="{% static 'img/party.jpg' %}"></div>
                </div>
            </div>

        </div>
<section class="footer">
    <div class="container">
        <br>
        <div class="jumbotron">
            <p id="p01" style="font-family:Matura MT Script Capitals"><font size="32">Enjoy this music</font>
            </p>
        </div>
            <br>
            {% if debugText == "invalid url" %}
                <h3>{{debugText}}</h3>
            {% endif %}

            {% if imgsrc != "" %}
                <img src={{imgsrc}} class="img-responsive" alt="Responsive image" height="400" width="400" style="float:left;">
            {% endif %}

            <br>

            {% if playlistURI != "" %}
                <iframe src={{ playlistURI }}  height="400" width="400" frameborder="0" allowtransparency="true" style="float:right;"></iframe>
            {% endif %}
        <br>
        <br>
        <br>
        <br>


    </div>
         <p style="text-align:center;">Copyright © NullVector</p>
</section>
</section>
</body>
</html>